#mc-form .form-control,
#contact-form .form-control {
  border-radius: 0 !important;
}

img, svg {
  vertical-align: text-bottom;
}

.breadcrumb-wrap .breadcrumb .breadcrumb-item:before {
  padding-top: 3px;
}

.language .form-select {
  border: none;
  -moz-appearance: none;
  appearance: none;
}

.language .form-select:focus {

  box-shadow: none;
  -moz-appearance: none;
  appearance: none;
}

#google-map .mapboxgl-control-container{
  display: none;
}

#map-section .section-padding{
  padding-bottom: 40px;
}

#map-section #google-map {
  height: 430px;  
}

.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 25px;
  line-height: 1;
  opacity: .75;
  color: #c29958;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}