#mc-form .form-control,
#contact-form .form-control {
  border-radius: 0 !important;
}

img, svg {
  vertical-align: text-bottom;
}

.breadcrumb-wrap .breadcrumb .breadcrumb-item:before {
  padding-top: 3px;
}

.language .form-select {
  border: none;
  -moz-appearance: none;
  appearance: none;
}

.language .form-select:focus {

  box-shadow: none;
  -moz-appearance: none;
  appearance: none;
}

#google-map .mapboxgl-control-container{
  display: none;
}

#map-section .section-padding{
  padding-bottom: 40px;
}

#map-section #google-map {
  height: 430px;  
}

/* .slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 25px;
  line-height: 1;
  opacity: .75;
  color: #c29958;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.slick-track {
  display: flex;
}
.slick-slider {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.slick-slide {
  padding-right: 10px;
}

.slick-slide:last-child {
  padding-right: 0;
}
.slick-slide img {
  display: block;
}
.slick-list {
  margin: 0 15px;
}

.slick-prev {
  width: 50px;
  left: 0;
  top: 20%;
  position: absolute;
  height: 50px;
  background: tomato;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.slick-next {
  width: 50px;
  right: 0;
  top: 20%;
  position: absolute;
  height: 50px;
  background: tomato;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.slick-prev:focus,
.slick-prev:hover,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: tomato;
}
.product-actions {
  display: flex;
  justify-content: space-between;
}