/* .footer {
  display: flex;
  flex-grow:inherit;
  flex-direction: row;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: flex-start;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}
 */
