/* ---- Sick Slider arrow style start ----*/
.slick-slider .slick-slide > div > div {
    vertical-align: middle;
  }
  
  .slick-arrow-style button.slick-arrow {
    top: 50%;
    left: 0;
    font-size: 70px;
    color: #777777;
    cursor: pointer;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .slick-arrow-style button.slick-arrow.slick-next {
    left: auto;
    right: 0;
  }
  .slick-arrow-style button.slick-arrow:hover {
    color: #c29958;
  }
  .slick-arrow-style:hover button.slick-arrow {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
  }
  .slick-arrow-style:hover button.slick-arrow.slick-prev {
    left: -60px;
    right: auto;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1499px),
    only screen and (min-width: 992px) and (max-width: 1199px),
    only screen and (min-width: 768px) and (max-width: 991px),
    only screen and (max-width: 767.98px) {
    .slick-arrow-style:hover button.slick-arrow.slick-prev {
      left: -20px;
    }
  }
  .slick-arrow-style:hover button.slick-arrow.slick-next {
    left: auto;
    right: -60px;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1499px),
    only screen and (min-width: 992px) and (max-width: 1199px),
    only screen and (min-width: 768px) and (max-width: 991px),
    only screen and (max-width: 767.98px) {
    .slick-arrow-style:hover button.slick-arrow.slick-next {
      right: -20px;
    }
  }
  .slick-arrow-style_hero button.slick-arrow {
    font-size: 60px;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: transparent;
    z-index: 1;
  }
  .slick-arrow-style_hero button.slick-arrow.slick-next {
    right: 0;
  }
  .slick-arrow-style_hero button.slick-arrow:hover {
    color: #c29958;
    background-color: transparent;
  }
  .slick-arrow-style_hero:hover button.slick-arrow.slick-next {
    right: 15px;
  }
  .slick-arrow-style_hero:hover button.slick-arrow.slick-prev {
    left: 15px;
  }
  
  .slick-append {
    background-color: #fff;
    z-index: 2;
    margin-top: -2px;
  }
  .slick-append button {
    font-size: 30px;
    line-height: 1;
    position: inherit;
    display: inline-block;
    background-color: transparent;
    color: #555555;
  }
  .slick-append button:hover {
    color: #c29958;
  }
  
  /*--------- slick slider dot style start -------*/
  .slick-dot-style ul.slick-dots {
    bottom: 15px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .slick-dot-style ul.slick-dots li {
    display: inline-block;
    margin-right: 10px;
  }
  .slick-dot-style ul.slick-dots li:last-child {
    margin-right: 0;
  }
  .slick-dot-style ul.slick-dots li button {
    width: 14px;
    height: 14px;
    padding: 0;
    border: none;
    display: block;
    text-indent: -5000px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border: 2px solid #777777;
    background-color: transparent;
  }
  .slick-dot-style ul.slick-dots li.slick-active button {
    border-color: #c29958;
    background-color: #c29958;
  }
  
  .slick-row-3 .slick-list {
    margin: 0 -3px;
  }
  .slick-row-3 .slick-list .slick-slide {
    margin: 0 3px;
  }
  
  @media only screen and (max-width: 767.98px) {
    .slick-sm-row-3 .slick-list {
      margin: 0 -3px !important;
    }
    .slick-sm-row-3 .slick-list .slick-slide {
      margin: 0 3px !important;
    }
  }
  .slick-row-4 .slick-list {
    margin: 0 -4px;
  }
  .slick-row-4 .slick-list .slick-slide {
    margin: 0 4px;
  }
  
  @media only screen and (max-width: 767.98px) {
    .slick-sm-row-4 .slick-list {
      margin: 0 -4px !important;
    }
    .slick-sm-row-4 .slick-list .slick-slide {
      margin: 0 4px !important;
    }
  }
  .slick-row-5 .slick-list {
    margin: 0 -5px;
  }
  .slick-row-5 .slick-list .slick-slide {
    margin: 0 5px;
  }
  
  @media only screen and (max-width: 767.98px) {
    .slick-sm-row-5 .slick-list {
      margin: 0 -5px !important;
    }
    .slick-sm-row-5 .slick-list .slick-slide {
      margin: 0 5px !important;
    }
  }
  .slick-row-6 .slick-list {
    margin: 0 -6px;
  }
  .slick-row-6 .slick-list .slick-slide {
    margin: 0 6px;
  }
  
  @media only screen and (max-width: 767.98px) {
    .slick-sm-row-6 .slick-list {
      margin: 0 -6px !important;
    }
    .slick-sm-row-6 .slick-list .slick-slide {
      margin: 0 6px !important;
    }
  }
  .slick-row-7 .slick-list {
    margin: 0 -7px;
  }
  .slick-row-7 .slick-list .slick-slide {
    margin: 0 7px;
  }
  
  @media only screen and (max-width: 767.98px) {
    .slick-sm-row-7 .slick-list {
      margin: 0 -7px !important;
    }
    .slick-sm-row-7 .slick-list .slick-slide {
      margin: 0 7px !important;
    }
  }
  .slick-row-8 .slick-list {
    margin: 0 -8px;
  }
  .slick-row-8 .slick-list .slick-slide {
    margin: 0 8px;
  }
  
  @media only screen and (max-width: 767.98px) {
    .slick-sm-row-8 .slick-list {
      margin: 0 -8px !important;
    }
    .slick-sm-row-8 .slick-list .slick-slide {
      margin: 0 8px !important;
    }
  }
  .slick-row-9 .slick-list {
    margin: 0 -9px;
  }
  .slick-row-9 .slick-list .slick-slide {
    margin: 0 9px;
  }
  
  @media only screen and (max-width: 767.98px) {
    .slick-sm-row-9 .slick-list {
      margin: 0 -9px !important;
    }
    .slick-sm-row-9 .slick-list .slick-slide {
      margin: 0 9px !important;
    }
  }
  .slick-row-10 .slick-list {
    margin: 0 -10px;
  }
  .slick-row-10 .slick-list .slick-slide {
    margin: 0 10px;
  }
  
  @media only screen and (max-width: 767.98px) {
    .slick-sm-row-10 .slick-list {
      margin: 0 -10px !important;
    }
    .slick-sm-row-10 .slick-list .slick-slide {
      margin: 0 10px !important;
    }
  }
  .slick-row-11 .slick-list {
    margin: 0 -11px;
  }
  .slick-row-11 .slick-list .slick-slide {
    margin: 0 11px;
  }
  
  @media only screen and (max-width: 767.98px) {
    .slick-sm-row-11 .slick-list {
      margin: 0 -11px !important;
    }
    .slick-sm-row-11 .slick-list .slick-slide {
      margin: 0 11px !important;
    }
  }
  .slick-row-12 .slick-list {
    margin: 0 -12px;
  }
  .slick-row-12 .slick-list .slick-slide {
    margin: 0 12px;
  }
  
  @media only screen and (max-width: 767.98px) {
    .slick-sm-row-12 .slick-list {
      margin: 0 -12px !important;
    }
    .slick-sm-row-12 .slick-list .slick-slide {
      margin: 0 12px !important;
    }
  }
  .slick-row-13 .slick-list {
    margin: 0 -13px;
  }
  .slick-row-13 .slick-list .slick-slide {
    margin: 0 13px;
  }
  
  @media only screen and (max-width: 767.98px) {
    .slick-sm-row-13 .slick-list {
      margin: 0 -13px !important;
    }
    .slick-sm-row-13 .slick-list .slick-slide {
      margin: 0 13px !important;
    }
  }
  .slick-row-14 .slick-list {
    margin: 0 -14px;
  }
  .slick-row-14 .slick-list .slick-slide {
    margin: 0 14px;
  }
  
  @media only screen and (max-width: 767.98px) {
    .slick-sm-row-14 .slick-list {
      margin: 0 -14px !important;
    }
    .slick-sm-row-14 .slick-list .slick-slide {
      margin: 0 14px !important;
    }
  }
  .slick-row-15 .slick-list {
    margin: 0 -15px;
  }
  .slick-row-15 .slick-list .slick-slide {
    margin: 0 15px;
  }
  
  @media only screen and (max-width: 767.98px) {
    .slick-sm-row-15 .slick-list {
      margin: 0 -15px !important;
    }
    .slick-sm-row-15 .slick-list .slick-slide {
      margin: 0 15px !important;
    }
  }
  .slick-slider .slick-slide > div {
    margin-bottom: 30px;
  }
  .slick-slider .slick-slide > div:last-child {
    margin-bottom: 0;
  }